@charset "utf-8";


.logo{

}
body{
    margin: 0px;
    padding: 0px;
}
.fixLeft{
    margin-top: 0px;
    z-index: -1;
    position:absolute;
    width: 580px;
    height: 500px;
    left:0;
    background: #66c4ff;
}

.divDadosCadastro{
    display: block;
    float: left;
    margin-top: 50px;
    margin-left: 200px;
    width: 400px;
    height: 500px;
}
.formCadastro input, .formCadastro button,.formCadastro fieldset{
    margin-top: 10px;

}
.formCadastro fieldset input{
    margin-left: 40px;

}

.divInfoCadastro{
    margin-top: -50px;
    padding: 20px;
}
.imgLogo{
    width: 200px;
}
.imgCoworking{

}

.divInfoCadastro p{
    margin-top: 0px;
    font-size: medium;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}